<h2>User Portal</h2>
<p>Welcome, @User.Identity.Name!</p>

<ul>
    <li>
        <a asp-controller="Basket" asp-action="Index" class="btn btn-warning">
            View Basket
        </a>
    </li>
</ul>